.photo-grid {
 width: 92.5%; /*1184px*/
 padding-top: 92px;
 margin:0 auto;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(284px, auto));
 grid-template-rows: repeat(auto, 213px);
 grid-auto-rows: 213px;
 gap: 16px;
}
