.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  box-sizing: border-box;
  padding: 80px 148px 0;
  margin: 0 auto;
}

/* 1034 нужно чтобы не появлялся горизонтальный скролл */
@media screen and (max-width: 1220px) {
  .places {
    padding: 80px 48px 0;
  }
}

@media screen and (max-width: 850px) {
  .places {
    gap: 74px;
    padding: 66px 24px 87px;
  }
}

/*нужно чтобы убрать горизонтальный скролл*/
@media screen and (max-width: 700px) {
  .places {
    padding: 101px 20px 87px;
  }
}

@media screen and (max-width: 640px) {
  .places {
    padding: 60px 0 66px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    gap: 51px;
  }
}
