.lead {
  padding-top: 56px;
  box-sizing: border-box;
  max-width: 984px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 48px;
    max-width: 928px;
  }
}
