.cover__subtitle {
  min-height: 66px ;
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

/*для равномерного резинового перехода*/
@media screen and (max-width: 767px) and (min-width: 321px) {
  .cover__subtitle {
    font-size: calc(14px + ((100vw - 321px) / (767 - 321)) * (18 - 14));
    line-height: calc(16px + ((100vw - 321px) / (767 - 321)) * (22 - 16));
    min-height: calc(48px - ((100vw - 321px) / (767 - 321)) * (66 - 48));
    max-width: calc(288px + ((100vw - 321px) / (767 - 321)) * (360 - 288));
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    min-height: 48px ;
    max-width: 288px;
  }
}
