.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 28px 48px 0;
 box-sizing: border-box;
}

/*для равномерного резинового перехода*/
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .header {
    padding-left: calc(24px + ((100vw - 769px) / (1024 - 769)) * (48 - 24));
    padding-right: calc(24px + ((100vw - 769px) / (1024 - 769)) * (48 - 24));
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .header {
    padding-top: calc(16px + ((100vw - 321px) / (768 - 321)) * (28 - 16));
    padding-left: calc(16px + ((100vw - 321px) / (768 - 321)) * (24 - 16));
    padding-right: calc(16px + ((100vw - 321px) / (768 - 321)) * (24 - 16));
  }
}

@media screen and (max-width: 320px) {
  .header{
    padding: 16px 24px 0;
  }
}
