.lead__title {
  min-height: 200px;
  max-width: 720px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  color: #fff;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: calc(288px + ((100vw - 320px) / (767 - 320)) * (720 - 288));
    min-height: calc(88px + ((100vw - 320px) / (767 - 320)) * (200 - 88));
    font-size: calc(40px + ((100vw - 320px) / (767 - 320)) * (96 - 40));
    line-height: calc(44px + ((100vw - 320px) / (767 - 320)) * (100 - 44));
  }
}
