.footer__links {
 list-style-type: none;
 display: flex;
 gap: 18px;
 margin-block-start: 0;
 margin-block-end: 0;
 padding-inline-start: 0;
}

@media screen and (max-width: 706px) { /*чтобы не было накладки применила 706px, а не 320px*/
  .footer__links {
    flex-direction: column;
    gap: 32px;
    padding-bottom: 48px;
  }
}
