.lead__subtitle {
  max-width: 640px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding-top: 32px;
  padding-bottom: 64px;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: calc(288px + ((100vw - 320px) / (768 - 320)) * (640 - 288));
    font-size: calc(16px + ((100vw - 320px) / (768 - 320)) * (30 - 16));
    line-height: calc(20px + ((100vw - 320px) / (768 - 320)) * (36 - 20));
    padding-top: calc(16px + ((100vw - 320px) / (768 - 320)) * (32 - 16));
    padding-bottom: calc(40px + ((100vw - 320px) / (768 - 320)) * (56 - 40));
  }
}
