.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #FFF;
  margin-block-start: 0;
  margin-block-end: 0;
  text-decoration: underline;
  padding-top: 12px;
  transition: opacity .3s ease;
}

.place__link:hover {
  opacity: .8;
}
