.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #fff;
  text-align: center;
  margin: 0;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: calc(32px + ((100vw - 320px) / (767 - 320)) * (72 - 32));
    line-height: calc(35px + ((100vw - 320px) / (767 - 320)) * (76 - 35));
    max-width: calc(288px + ((100vw - 320px) / (767 - 320)) * (560 - 288));
  }
}
