.place {
 display: grid;
 grid-template-columns: 460px  1fr;
 column-gap: 40px;
 row-gap: 48px;
}
/*
/*для равномерного резинового перехода*/
@media screen and (max-width: 1279px) and (min-width: 1025px) {
  .place {
    column-gap: calc(32px + ((100vw - 1025px) / (1279 - 1025)) * (40 - 32));
  }
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
    grid-template-columns: 440px 1fr;
  }
}

@media screen and (max-width: 1023px) and (min-width: 767px) {
  .place {
    column-gap: calc(28px + ((100vw - 767px) / (1023 - 767)) * (32 - 28));
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
    grid-template-columns: 340px 1fr;
  }
}

/*переход на flex*/
@media screen and (max-width: 585px) { /*начала ранее чтобы не было скролла*/
  .place {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
   align-items: center;
  }
}


