.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  color: #AAA;
  margin-block-start: 0;
  margin-block-end: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 12px;
}

@media screen and (max-width: 640px) {
  .place__url-heading {
    line-height: 1;
    padding-bottom: 12px;
    box-sizing: border-box;
  }
}
