.footer__copyright {
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (max-width: 706px) { /*чтобы не было накладки применила промежуточный 706px*/
  .footer__copyright {
    align-self: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 1;
  }
}
